{% load static %} {# Load the tag library #} {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'editor/style.css' %}" />
    <script src="{% static 'editor/script.js' %}" defer></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" >
    <title>Professor AI | Editor</title>
  </head>
  <body>
    <div class="row bg-secondary">
      <h1 class="col-6">Professor AI</h1>
      <div class="col-6 d-flex justify-content-end">
        <div class="m-2">
          {{ name}}
          <form action="/login" method="post">
            {% csrf_token %}
            {{ log_out }}
            <button type="submit" class="btn-outline-primary rounded">Logout</button>
          </form>
        </div>
      </div>
    </div>
    <div class="row h-100">
      <div class="col border border-secondary">
        <div class="row">
          <div class="col-6">
            <h1>Coding Challenge</h1>
          </div>
          <div class="col-6 d-flex justify-content-center">
            <form action="/" method="post">
              {% csrf_token %}
              {{ request_form.as_p}}
              <button type="submit" class="btn-outline-primary rounded mt-4 p-1" id="request-button">Get New Challenge</button>
            </form>
          </div>
        </div>
        <p style="display:none" id="loader">Professor AI is thinking...</p>
        {% if AI_message %}
          {{ AI_message.feedback|safe }}
          {% if not AI_message.finished %}
          <h1>
            {{ AI_message.name}}
          </h1>
          <h2>Overview</h2>
          <p>{{ AI_message.overview}}</p>
          <h2>Examples</h2>
          <ul>
            {% for example in AI_message.examples %}
              <li>
                <p>Input: {{ example.input }}</p>
                <p>Expected Response: {{ example.expected_response }}</p>
              </li>
            {% endfor %}
          </ul>
          <h2>New Concept - {{ AI_message.new_concept.name }}</h2>
          <p>{{ AI_message.new_concept.explanation }}</p>
          {% endif %}
        {% endif %}
      </div>
      <div class="col border border-secondary">
        <h4>Code Editor</h4>
        <form action="/" method="post" id="code-form">
          <p id="saved">Your code is saved.</p>
          {% csrf_token %}
          {{ editor_form.as_p }}
          <button type="submit" name="save_code" id="save-button" title="Ctrl + S">Save</button>
          <button type="submit" name="run_code" id="run-button" title="Ctrl + Enter">Run</button>
          <button type="submit" name="submit_code" id="submit-button" title="Ctrl + Shift + Enter">Submit</button>
        </form>
        <div class="row h-50">
          <div class="col border border-secondary bg-dark text-white">
            <h4>Terminal</h4>
            <p id="terminal">{{ terminal|safe }}</p>
          </div>
        </div>
      </div>
      <div class="col-5 position-fixed bg-info top-25 h-75 rounded border border-4 border-info {% if chat_open %} d-block {% else %} d-none {% endif %}"  id="chat-box">
        <div class="d-flex flex-column justify-content-between h-100">
          <p>Got Questions? Ask me anything.</p>
          <div class="overflow-auto bg-secondary p-1">
            {% for statement in conversation %}
              <p class="border rounded bg-white">{{ statement }}</p>
            {% endfor %}
          </div>
          <div>
            <p class="text-gray">Examples:<br>Why is my code on line 5 throwing an error?<br>What is the syntax for making a list again?</p>
            <form action="/" method="post">
            {% csrf_token %}
            {{ chat_box}}
              <!-- <input class="mb-1 w-100"></input> -->
              <button type="submit" name="ask_question">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-end position-fixed bottom-0 d-block">
      <div class="col-1 d-block w-25">
        <button
          id="chat-button"
          class="border border-secondary shadow-lg rounded-circle btn-primary btn-lg ms-4 mb-2"
        >
          💬
        </button>
      </div>
    </div>
  </body>
</html>
