{% load static %} {# Load the tag library #} {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'editor/style.css' %}" />
    <title>Professor AI Editor</title>
  </head>
  <body>
    <h1 class="bg-secondary">Professor AI</h1>
    <div class="row h-100">
      <div class="col border border-secondary">
        <h1>Coding Challenge</h1>
        {{customer_list}}
        <form action="/editor/" method="post">
          {% csrf_token %}
          {{ request_form.as_p}}
          <button type="submit" class="btn-outline-primary rounded">I'm ready</button>
        </form>
        {{ AI_message|safe}}
      </div>
      <div class="col border border-secondary">
        <h4>Code Editor</h4>
        <form action="/editor/" method="post">
          {% csrf_token %}
          {{ editor_form.as_p }}
          <button type="submit" name="run_code">Run</button>
          <button type="submit" name="submit_code">Submit</button>
        </form>
        <div class="row h-50">
          <div class="col border border-secondary bg-dark text-white">
            <h4>Terminal</h4>
            <p id="terminal">{{ terminal|safe }}</p>
          </div>
        </div>
      </div>
    {% if chat_open %}
      <div class="col-5 position-fixed bg-light top-25 h-75 rounded border ">
        <div class="d-flex flex-column justify-content-between h-100">
          <p>Got Questions? Ask me anything.</p>
          <div>
            <p class="text-gray">Examples:<br>Why is my code on line 5 throwing an error?<br>What is the syntax for making a list again?</p>
            <input class="mb-1 w-100"></input>
          </div>
        </div>
      </div>
    {% endif %}
    </div>
    <div class="row justify-content-end position-fixed bottom-0 d-block">
      <div class="col-1 d-block w-25">
        <form action="/editor/" method="post">
          {% csrf_token %}
          {{open_chat_form}}
          <button
            type="submit"
            name="chat_button"
            class="border border-secondary shadow-lg rounded-circle btn-primary d-block btn-lg ms-4 mb-2"
          >
            💬
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
